Non-MS-Sample/SAML/RelyingPartyApp/Service References/SampleServiceTwo/SampleServiceTwo.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SampleServiceTwo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WS2007FederationHttpBinding_ISampleServiceTwo_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
              <sp:RequestSecurityTokenTemplate>
                <trust:KeyType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://docs.oasis-open.org/ws-sx/ws-trust/200512/Bearer</trust:KeyType>
                <trust:CanonicalizationAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/10/xml-exc-c14n#</trust:CanonicalizationAlgorithm>
                <trust:EncryptionAlgorithm xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">http://www.w3.org/2001/04/xmlenc#aes256-cbc</trust:EncryptionAlgorithm>
              </sp:RequestSecurityTokenTemplate>
              <wsp:Policy>
                <sp:RequireInternalReference />
              </wsp:Policy>
            </sp:IssuedToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss11 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy />
        </sp:Wss11>
        <sp:Trust13 xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
          <wsp:Policy>
            <sp:MustSupportIssuedTokens />
            <sp:RequireClientEntropy />
            <sp:RequireServerEntropy />
          </wsp:Policy>
        </sp:Trust13>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/SampleServiceTwo/SampleService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/SampleServiceTwo/SampleService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISampleServiceTwo_ComputeResponse_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceTwo_ComputeResponse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponseResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceTwo_ComputeResponseAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponseAdmin" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceTwo_ComputeResponseAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponseAdminResponse" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceTwo_ComputeResponseSuperAdmin_InputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponseSuperAdmin" />
  </wsdl:message>
  <wsdl:message name="ISampleServiceTwo_ComputeResponseSuperAdmin_OutputMessage">
    <wsdl:part name="parameters" element="tns:ComputeResponseSuperAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="ISampleServiceTwo">
    <wsdl:operation name="ComputeResponse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleServiceTwo/ComputeResponse" message="tns:ISampleServiceTwo_ComputeResponse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleServiceTwo/ComputeResponseResponse" message="tns:ISampleServiceTwo_ComputeResponse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeResponseAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleServiceTwo/ComputeResponseAdmin" message="tns:ISampleServiceTwo_ComputeResponseAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleServiceTwo/ComputeResponseAdminResponse" message="tns:ISampleServiceTwo_ComputeResponseAdmin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ComputeResponseSuperAdmin">
      <wsdl:input wsaw:Action="http://tempuri.org/ISampleServiceTwo/ComputeResponseSuperAdmin" message="tns:ISampleServiceTwo_ComputeResponseSuperAdmin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISampleServiceTwo/ComputeResponseSuperAdminResponse" message="tns:ISampleServiceTwo_ComputeResponseSuperAdmin_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS2007FederationHttpBinding_ISampleServiceTwo" type="tns:ISampleServiceTwo">
    <wsp:PolicyReference URI="#WS2007FederationHttpBinding_ISampleServiceTwo_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ComputeResponse">
      <soap12:operation soapAction="http://tempuri.org/ISampleServiceTwo/ComputeResponse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeResponseAdmin">
      <soap12:operation soapAction="http://tempuri.org/ISampleServiceTwo/ComputeResponseAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ComputeResponseSuperAdmin">
      <soap12:operation soapAction="http://tempuri.org/ISampleServiceTwo/ComputeResponseSuperAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SampleServiceTwo">
    <wsdl:port name="WS2007FederationHttpBinding_ISampleServiceTwo" binding="tns:WS2007FederationHttpBinding_ISampleServiceTwo">
      <soap12:address location="https://zion-lap/SampleServiceTwo/SampleService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://zion-lap/SampleServiceTwo/SampleService.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>